{% extends "base.html" %}
{% block content %}
      <div align="center">
        <h1>Hej gulis!</h1>
        <div class="intro">
            <p>Årets bästa fest, FEST1, är snart här igen! FEST1 ordnas 13.10 i Otnäs och alla huvudstadsregionens förstaårsstuderande är välkomna. Festligheterna inleds med cocktails klockan 18 och fortsätter med en sitz. Festens tema är en detalj fel - leta alltså fram kostymen, en rolig detalj och västmetrons tidtabeller och förbered dig på en fantastisk kväll i nya och gamla vänner sällskap! Till den hejdundrande efterfesten som inleds klockan 23:30 är alla som har fyllt 18 välkomna.</p>
            <p>Anmälningen till FEST1 öppnar fredagen 21.9 kl 12:00  och det finns ett begränsat antal platser. Tidigare år har platserna fyllts i snabb takt, så det lönar sig att vara beredd genast när anmälningen öppnar. Anmälningen stänger måndagen 8.10 kl 23:55 eller när platserna är fulla. Det finns kvoter för alla föreningar, efter det fylls platserna i anmälningsordning.</p>
            <p>För att försnabba processen att komma in till efterfesten lönar det sig också att köpa efterfestbiljetter på förhand. Nytt för i år är att det finns ett begränsat antal VIP-biljetter som ger dig tillgång till en egen ingång med garderob (kortare kö!), ett halarmärke och ett glas skumppa. Det finns ett begränsat antal av dessa biljetter, så det lönar sig att vara snabb med dem också. Efterfesten kostar 5€ förköp, 8€ vid dörren. VIP-biljetterna kostar 15€.</p>

            <p>VAD? FEST1</p>
            <p>NÄR? 13.10.2018 Sitz kl. 18. Efterfest kl. 23.30</p>
            <p>VAR? Teknologföreningens nationshus Urdsgjallar, Otsvängen 22, Esbo</p>
            <p>VEM? Alla svenskspråkiga förstaårsstuderande, efterfesten är öppen för alla (18 år fyllda)</p>
            <p>PRIS? Sitz och efterfest 20€ (18€ alkoholfri), halarmärket +2€!</p>
            <p>DRESSCODE? Cocktail med en detalj fel</p>
        </div>
        <div class="buttons">
            <a href="/register/"><button type="button" class="btn btn-primary btn-lg">Anmäl dig</button></a>
            <a href="/participants/"><button type="button" class="btn btn-default btn-lg">Visa deltagarlistan</button></a>
            <h3>Förköp av efterfestbiljetter</h3>
            <p>5 € (8 € vid dörren)</p>
            <a href="/afterparty/"><button type="button" class="btn btn-default">Köp efterfestbiljetter</button></a>
        </div>
      </div>
{% endblock content %}
