{% extends "base.html" %}
{% block content %}
      <div align="center">
        <h1>Välkommen till Fest 1</h1>
        <div class="intro">
            <p>Var med på årets exklusivaste fest för alla svenskspråkiga förstaårsstuderande och släpp loss din inre agent! Från och med kl.18 kan alla förstaårsstuderande i huvudstadsregionen sitza tillsammans och från kl 23 framåt är det öppen efterfest med live-musik med Goodie goodies och DJ ADRY!</p>

            <p>Sitz + efterfest 20€</p>
            <p>Dresscode: Mörk kostym</p>
            <p>Otsvängen 22, 02150 Esbo</p>

            <p>Ta med kontanter - cash-only bar finns tillgänglig</p>
        </div>
        <div class="buttons">
            <a href="/register/"><button type="button" class="btn btn-primary btn-lg">Anmäl dig</button></a>
            <a href="/participants/"><button type="button" class="btn btn-default btn-lg">Visa deltagarlistan</button></a>
            <h3>Förköp av efterfestbiljetter</h3>
            <p>5 € (7 € vid dörren)</p>
            <a href="/afterparty/"><button type="button" class="btn btn-default">Köp efterfestbiljetter</button></a>
        </div>
      </div>
{% endblock content %}
