{% extends "base.html" %}
{% block content %}
      <div align="center">
        <h1>Hej gulis!</h1>
        <div class="intro">
            <p>Kom med på årets exklusivaste sitz för alla förstaårsstuderande i Helsingforsregionen och träffa gamla och nya vänner. Teknologföreningen bjuder traditionsenligt in just er på FEST1 till Otsvängen 22 i Esbo. Festligheterna börjar med cocktails kl. 18.</p>
            <p>Anmälningen öppnar måndag 19.9 kl. 12:00. Man kan även köpa biljetter till den öppna efterfesten som börjar kl. 23. Anmälningen stänger tisdag 27.9 kl. 23:55, eller när alla platser är fyllda, så anmäl er snabbt för att inte missa höstens bästa fest.</p>

            <p>VAD? FEST1</p>
            <p>NÄR? 1.10.2015 Sitz kl. 18. Efterfest kl. 23</p>
            <p>VAR? TF, Otsvängen 22, Esbo</p>
            <p>VEM? Alla svenskspråkiga förstaårsstuderande, efterfesten är öppen för alla (18 år fyllda)</p>
            <p>PRIS? Sitz och efterfest 20€ (18€ alkoholfri)</p>
            <p>DRESSCODE? Mörk kostym</p>

            <p>Ta med kontanter - cash-only bar finns tillgänglig.</p>
        </div>
        <div class="buttons">
            <a href="/register/"><button type="button" class="btn btn-primary btn-lg">Anmäl dig</button></a>
            <a href="/participants/"><button type="button" class="btn btn-default btn-lg">Visa deltagarlistan</button></a>
            <h3>Förköp av efterfestbiljetter</h3>
            <p>5 € (7 € vid dörren)</p>
            <a href="/afterparty/"><button type="button" class="btn btn-default">Köp efterfestbiljetter</button></a>
        </div>
      </div>
{% endblock content %}
