{% extends "base.html" %}
{% load reg_tags %}
{% block content %}

      <div class="list">
        <h2>Deltagare</h2>
          {% for key, values in lists.items %}
              <h3>{{ key.name }}</h3>
              <div class="progress">
                {% if values.count >= quotas|get_item:key.id %}
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                      {{ quotas|get_item:key.id }}/{{ quotas|get_item:key.id }}
                  </div>
                {% else %}
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio values.count quotas|get_item:key.id 100 %}%;">
                      {{ values.count }}/{{ quotas|get_item:key.id }}
                  </div>
                {% endif %}
              </div>


              <ol>
              {% for v in values %}
                  <li>{{ v.first_name }}&nbsp;{{ v.last_name }}</li>
              {% endfor %}
              </ol>
          {% endfor %}
      <h2>Reservplatser</h2>
	<ol>
        {% for r in reserve %}
            <li>{{ r.first_name }}&nbsp;{{ r.last_name }} ({{ r.organization.name }})</li>
        {% endfor %}
	</ol>
      </div>

{% endblock content %}
