{% extends "base.html" %}
{% load reg_tags %}
{% block content %}

      <div class="register">
        <h2>Anmälning</h2>
            <form class="register_form" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="first_name">Förnamn</label>
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Förnamn">
              </div>
              <div class="form-group">
                <label for="last_name">Efternamn</label>
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Efternamn">
              </div>
              <div class="form-group">
                <label for="last_name">E-postadress</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="E-postadress">
              </div>
              <div class="form-group">
                <label for="organization">Organisation</label>
                <select name="organization" id="organization" class="form-control">
                    {% for key, value in organizations_list.items %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}

                </select>
              </div>
              <p>
                Halarmärkena är tyvärr slut.
              </p>
              <!--
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="halarmarke" id="halarmarke"> Halarmärke (+ 2€)
                </label>
              </div>
              -->
              <div class="form-group">
                <label for="avec">Avec</label>
                <p><strong>Obs:</strong> Avec (också förstaårsstuderande) måste anmäla sig skilt!</p>
                <input type="text" class="form-control" name="avec" id="avec" placeholder="Avec">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="alcoholfree" id="alcoholfree"> Alkoholfri
                </label>
              </div>
              <div class="form-group">
                <p>
                  Allergier/specialdiet
                  <br>
                  (Övriga specialdieter kan skrivas i fältet "Kommentarer".)
                </p>
                <label>
                  <input type="checkbox" name="vegetarian" id="vegetarian"> Vegetarian
                </label>
                <br>
                <label>
                  <input type="checkbox" name="vegan" id="vegan"> Vegan
                </label>
                <br>
                <label>
                  <input type="checkbox" name="glutenfree" id="glutenfree"> Glutenfri
                </label>
                <br>
                <label>
                  <input type="checkbox" name="lactosefree" id="lactosefree"> Laktosfri
                </label>
                <br>
                <label>
                  <input type="checkbox" name="milkfree" id="milkfree"> Mjölkfri
                </label>
                <br>
                <label>
                  <input type="checkbox" name="apple" id="apple"> Äppel
                </label>
                <br>
                <label>
                  <input type="checkbox" name="nuts" id="nuts"> Nötter
              </div>
              <div class="form-group">
                <label for="comment">Kommentarer</label>
                <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Skicka</button>
            </form>

      </div>

{% endblock content %}
